* {
	box-sizing: border-box;
}

body {
	font-family: Tahoma;
	margin: 0px;
	padding: 0px;
}

section {
	background-color: #c0b1e1;
	padding: 20px;
	display: flex;
	justify-content: space-between;
}


.sw-logo {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 2.5rem;
	text-indent: 20px;
}

.nav-bar {
	word-spacing: 0.8rem;
	padding: 20px 10px 10px 5px;
}

.nav-bar a[href*="about-me.html"] {
	word-spacing: 0.1rem;
}

.nav-bar a {
	text-decoration: none;
	color: black;
}

main {
	background-color:#474c58;
	color: #ffffff;
	padding: 15px;
}

.portfolio {
	display: grid;
	grid: 270px / auto auto auto;
}

.container {
	width: 250px;
	height: 250px;
	background: rgba(192,177,225, 0.55);
	border-radius: 50%;
}

footer {
	background-color: #c0b1e1;
	padding: 10px;
	display: grid;
	grid-template-columns: auto auto;
}
